<!DOCTYPE html>
<html>

	<head>
		<title>{{#i18n}}todoapp.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="/todoapp/public/dist/entcore/ng-app-124e19471f.js" type="text/javascript" id="context"></script>
		<script src="/todoapp/public/dist/application-7c1aca1b80.js" type="text/javascript"></script>
		
		<script type="text/ng-template" id="empty"></script>
	</head>

	<body ng-controller="MainController" class="todoapp">
		<portal>
			<container template="main"></container>
		</portal>
	</body>

</html>
